.formaRegistration {
  width: 100vw;
  height: 100vh;
}

.inputRega {
  display: flex;
}
.buttonRega {
  display: flex;
}
.forRegistration {
  display: flex;
  justify-content: center;
  margin-top: 40%;
}

.loginForm {
  height: 100vh;
}
.asd {
  margin-top: 5px;
}
.dav {
  display: flex;
  justify-content: flex-end;
}
.pa {
  position: absolute;
}
.form__img-password {
  width: 75%;
}
.zhopa {
  width: 40vh;
}
